<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <a href="{{ site.baseurl }}/index.html">
	<img src="/images/logo_32x32.png" class="logo"/>
	<h1>{{ site.title }}</h1>
  </a>
  <nav id="main-nav">
		<a id="menubutton" href="#"></a>
		<div id="mynavlist">
			<a id="closebutton"></a>
			<ul>
			  <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
			  {%assign sorted_pages = site.pages | sort: 'key','last' %}
			  {%for my_page in sorted_pages %}
				{%if my_page.title %}{%
					unless my_page.options contains 'nomenu' %}
						<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>{%
					endunless %}{%
				endif %}
			  {%endfor %}

			  <!--<li class="submenu">
				<a id="crafts" href="#">Crafts</a>
				<ul class="submenu-content">
				  <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Programming</a></li>
				  <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Leather work</a></li>
				  <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Bikes</a></li>
				</ul>
			  </li>-->

			  <!--<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
						   class="icon fa-feed"></a></li>
			  -->

			</ul>
		</div>
	</nav>
</header>
